# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
venv/
portfolio/portfolio/secrets.py
portfolio/portfolio/__pycache__/
__pycache__/
main/__pycache__/
main/contexts/__pycache__/
main/migrations/__pycache__/