body {
    margin: 0;
}

#menu-trigger {
    position: absolute;
    left: 0;
    width: 75px;
    height: 75px;
    opacity: 0%;
    margin: 0;
}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 75px;
    height: 75px;
}

#menu-icon {
    background-image: url("resources/shell icons/menu.png");
}

#home-icon {
    background-image: url("resources/shell icons/home.png");
}

#site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #000000;
}


#menu-contents {
    width: 100%;
    padding: 0;
    max-height: 0;
    background-color: #a57996;
}

#menu-trigger:checked ~ #menu-contents {

    border-bottom: 2px solid #000000;
    -webkit-transition: 0.5s max-height ease;
    max-height: 400px;
}

.menu-item {
    height: 0;
    opacity: 0;
    padding-left: 15%;
    visibility: hidden;
    position: absolute;
    border-top: 2px dashed #000000;
    margin-top: 0px;
    padding-top: 15px;
    vertical-align: center;

}

#menu-contents .menu-item:first-child {
    border-top: 2px solid #000000;
}

#menu-trigger:checked ~ #menu-contents .menu-item {

    height: 20px;
    position: static;
    visibility: visible;
    opacity: 100%;
    -webkit-transition: opacity 0.1s linear 0.3s;

}

#top-offset {
    padding-bottom: 20px;
}

#bottom-offset {
    padding-top: 20px%;
}

@media all {

}
