#overlay {
    position: relative;

}

#menu-trigger {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0%;

}

.icon {
    background-repeat: no-repeat;
    background-position: center;
    ba
    width: 75px;
    height: 75px;
}

#menu-icon {
    background-image: url("resources/shell icons/home.png");
    background-repeat: no-repeat;
    background-position: center;
}

#menu-contents {
    width: 100%;
    background-color: #8b7a7a;
    height: 20px;
    display: none;
}

#overlay {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#menu-trigger:checked ~ #menu-contents {
    display: block;
}