main #resume {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Acme, sans-serif;
}

main section {
    margin-top: 30px;
}

section#introduction {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: auto;
}

section#introduction figure {

    background-image: url("/assets/images/photos/about.jpg");
    background-position: top;
    flex-basis: 100%;
}

section#introduction #key-details .key {

    color: var(--light-green);
    margin-right: 7px;
}

section#sales-pitch {

    display: flex;
    flex-wrap: wrap;
}

section#sales-pitch #nutshell {

    flex-basis: 100%;
}

section#sales-pitch #skills {

    flex-basis: 100%;
}



section#sales-pitch #skills .flex-container {
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

section#sales-pitch #skills .flex-container li {

    color: var(--light-green);
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    outline: 2px solid var(--light-green);
    margin: 10px;
    background-color: var(--medium-black);

}

@media all and (min-width: 600px) {

    main section {
        margin-top: 35px;
    }

    section#introduction {
        max-width: 600px;
    }

    section#introduction figure {
        flex-basis: 45%;
        padding-top: 45%;
        flex-shrink: 1;
    }

    section#introduction #key-details li {
        margin-bottom: 15px;
    }

    section#sales-pitch {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    section#sales-pitch #nutshell {
        flex-basis: 47%;
    }

    section#sales-pitch #skills {
        flex-basis: 47%;
    }

    section#sales-pitch #skills .flex-container li {
        font-size: 22px;
    }
}
