.sidebar li, h3 {
    text-transform: uppercase;
    color: var(--light-green);
}

.sidebar li {
    list-style-type: none;
}

.sidebar ul {
    padding: 0;
}


@media all and (min-width: 600px) {
    
    .page-contents {
        margin-left: 0;
        margin-right: 200px;
    }

    .sidebar {
        position: fixed;
        right: 15px;
        top: 150px;
        outline: var(--solid-black) 2px solid;
        background-color: var(--background-color);
        padding: 5px 20px 10px 20px;

    }
}

@media all and (min-width: 950px) {

    .page-contents {
        margin-left: calc(var(--sidebar-width) + 60px);

    }
}