{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

{% if title %}
    <title>James Menzies: {{ title }}</title>
{% else %}
    <title>James Menzies: Coder</title>
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/nav.css' %}">

{% block head %}
{% endblock %}

</head>
<body>
<nav>
    <input type="checkbox" id="menu-trigger">

    <header class="horizontal-overlay">
        <div id="menu-icon" class="icon image" style="background-image:
                url({% static 'images/icons/menu.png' %})"></div>
        {% if title %}
        <h2>{{ title }}</h2>
        {%  endif %}
    </header>

    <div class="menu">

        {% for link in int_links %}
            <a href="{% url link.url %}" class="menu-item">{{ link.title }}</a>
        {% endfor %}

    </div>

    <footer class="horizontal-overlay">
        <div class="flex-container">

            {% for link in ext_links %}
             <a target="_blank" href="{{  link.url }}">
                 <div class="icon image"
                      style="background-image:
    url({% get_static_prefix %}images/icons/{{ link.icon_url }})"></div>
             </a>
            {% endfor %}
        </div>
    </footer>
</nav>

<div id="background-layer"></div>

{% if page_wrapper %}
    <div id="page-wrapper">
{% endif %}
    <main class="page-contents">
        {% block contents %}
        {% endblock %}
    </main>
{% if page_wrapper %}
    </div>
{% endif %}
</body>
</html>