{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Menzies: Coder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body>
<nav>
    <input type="checkbox" id="menu-trigger">

    <header class="horizontal-overlay">
        <div id="menu-icon" class="icon image"></div>
        <h2>Home</h2>
    </header>

    <div class="menu">

        {% for link in int_links %}
            <a href="{{ link.url }}" class="menu-item">{{ link.title }}</a>
        {% endfor %}

    </div>

    <footer class="horizontal-overlay">
        <div class="flex-container">

            {% for link in ext_links %}
             <a target="_blank" href="{{ link.url }}">
                 <div class="icon image"
                      style="background-image:
                              url({% get_static_prefix %}images/icons/{{ link.img_url }})"></div>
             </a>
            {% endfor %}
        </div>
    </footer>
</nav>

</body>
</html>