{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
{% endblock head %}

{% block contents %}
    <div id="mobile-only-banner" class="image"></div>

    <section id="job-title">
        <span>BACK-END DEVELOPER</span>
        <div class="horizontal-divider image"></div>
        <span>CLASSICAL DOUBLE BASS PLAYER</span>
    </section>

    <div id="page-separator"></div>

    <section id="welcome">
        <figure class="image" aria-label="A head shot of James grinning."></figure>
        <figcaption>
            I'm James, I'm a musician and coder. There's plenty to do here.
            Take a look around.
        </figcaption>
    </section>

    <section id="directory">
        <a href="about.html" class="block-based-link">
            <h3>THE PERSON</h3>
            <figure id="person-picture" aria-label="James smiling in a tails suit" class="image"></figure>
            <figcaption>
                If you're after contact details, my qualifications, and my life story,
                this is the place for you.
            </figcaption>
        </a>
        <a href="projects.html" aria-label="James at the computer, working on some code"
           class="directory-wrapper block-based-link">
            <h3>THE CODER</h3>
            <figure id="coder-picture" class="image"></figure>
            <figcaption>
                If you want to dive in and have a look at the stuff I've worked on, click here.
            </figcaption>
        </a>
        <a href="media.html" class="directory-wrapper block-based-link">
            <h3 >THE MUSICIAN</h3>
            <figure id="musician-picture" aria-label="James playing the double bass." class="image"></figure>
            <figcaption>
                If you want some greater context about my life as a professional musician,
                check this out.
            </figcaption>
        </a>
    </section>
{% endblock contents %}
