{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
{% endblock head %}

{% block contents %}
    <div id="mobile-only-banner" class="image"></div>

    <section id="job-title">
        <span>BACK-END DEVELOPER</span>
        <div class="horizontal-divider image"></div>
        <span>CLASSICAL DOUBLE BASS PLAYER</span>
    </section>

    <div id="page-separator"></div>

    <section id="welcome">
        <figure class="image" aria-label="{{ welcome_image.caption }}"
        style="background-image:
                url({% static 'images/photos/formal_profile.jpg' %})"></figure>
        <figcaption>{{ welcome_message }}</figcaption>
    </section>

    <section id="directory">

        {% for directory in directories %}
            <a href="{% url directory.url %}">
                <h3>{{ directory.title }}</h3>
                <figure aria-label="{{ directory.image.caption  }}"
                        class="image" style="background-image:
                        url({% get_static_prefix %}images/photos/{{ directory.image.url }})"></figure>
                <figcaption>{{ directory.description }}</figcaption>
            </a>
        {% endfor %}
    </section>
{% endblock contents %}
