section {
    margin-bottom: 50px;
}

section h2 {

    text-align: center;
}

section:last-child {

    margin-bottom: 0px;
}

section#introduction {

    max-width: 600px;
    margin: auto;
}

section#introduction span {
    text-align: center;
    font-size: 16px;
}


section#photos .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#photos .image {

    flex-basis: 48%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 48%;
    margin-bottom: 4%;
}

section#videos figure {

    width: 300px;
    padding-bottom: 40px;
    margin: auto;
}

section#videos iframe {

    height: 169px;
}

@media all and (min-width: 600px) {

    section {

        margin-bottom: 70px;
    }

    section:last-child {

        margin-bottom: 0px;
    }

    section h2 {

        text-align: left;
    }

    section#photos .image {

        flex-basis: 32.5%;
        padding-top: 32.5%;
        margin-bottom: 1.25%;
    }

    section#videos figure {

        width: 560px;
        margin: 0;
    }

    section#videos iframe {

        height: 315px;
        width: 560px;
    }
}

/*photo gallery dump*/

#photo-1 {

    background-image: url("../images/photos/informal_profile.jpg");
}
