
#profile-picture.picture {

    background-image: url("../resources/james.jpg");
    padding-top: 80%;
    width: 70%;
    margin: auto;
}

#resume-link-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

.vertical-separator {
    height: auto;
    width: 10px;
    background-color: #000000;
    padding: 0;
    margin-right: 20px;
}


@media all and (min-width: 600px) {


    #introduction {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        row-gap: 30px;
    }

    #introduction-summary {
        grid-column: 2;
        grid-row: 1;
    }

    #profile-picture.picture {
        width: 100%;
        padding-top: 130%;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    #key-details {
        grid-column: 2;
    }

    #bullet-points {
        display: flex;
        flex-wrap: wrap;
    }

    #bullet-points li {
        flex-basis: 47%;
    }
}