#profile-picture.picture {

    background-image: url("../resources/about.jpg");
    padding-top: 80%;
    width: 60%;
    margin: auto;
    background-position: top;
}

#resume-link-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

@media all and (min-width: 600px) {


    ul {
        padding-left: 15px;
    }

    #introduction {
        display: grid;
        grid-template-columns: 40% 58%;
        column-gap: 2%;
        row-gap: 30px;
    }

    #introduction-summary {
        grid-column: 2;
        grid-row: 1;
    }

    #introduction-summary li {
        font-size: 20px;
    }

    #profile-picture.picture {
        width: 100%;
        padding-top: 130%;
        grid-column: 1;
        grid-row: 1;
    }

    #bullet-points {
        display: flex;
        flex-wrap: wrap;
    }

    #bullet-points li {
        flex-basis: 47%;
    }

    #resume-link-wrapper {
        font-size: 24px;
    }
}
