
#introduction {
    display: flex;
    margin-bottom: 70px;
}

#introduction-summary {
    flex-basis: 65%;
}

#introduction-photo {
    flex-basis: 35%;
    padding-top: 18%;
    background-color: #bfbfbf;
}

.arrow-button {
    margin-left: 8px;
    flex-basis: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-top: 40px;
    height: 0;
    background-image: url("../resources/arrow.png");
}

.post-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    margin: auto;
    border-top: solid 1px #bdbdbd;

}

.post-link:hover {
    background-color: #bdbdbd;
    text-decoration: none;
    color: #000000;
}

.post-details {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.post-details.tags {
    text-align: left;
}


.post-summary {
    display: none;
}

@media all and (min-width: 600px) {
    .post-summary {
        flex-basis: 45%;
        display: block;
    }

    .post-details {
        flex-basis: 45%
    }

    .post-link {
        max-width: 100%;
    }
}


