#mobile-only-banner {

    background-image: url("../resources/mobile-banner.jpg");
    padding-top: 33%;
}

#job-summary {
    width: 75%;
    margin: auto;
    text-align: center;
}

#job-summary > * {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.horizontal-divider {
    background-color: #000000;
    height: 4px;
    width: 150px;
    margin: auto;
    padding: 0;
    }

#welcome-picture ,.directory-picture {
    width: 100%;
    padding-top: 100%;
}

#welcome-picture {
    background-image: url("../resources/james.jpg");
}

#pages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.directory-wrapper {
    border: 1px #000000 solid;
    margin-bottom: 10px;
    padding: 10px;
}

.directory-wrapper:hover {
    background-color: yellow;
}

.page-name {
    text-align: center;
}

#coder-picture {
    background-color: red;
}

#musician-picture {
    background-color: yellow;
}

#person-picture {
    background-color: cyan;
}

@media all and (min-width: 600px){

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;

    }

    #page-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 98%;
        width: 98%;
        position: absolute;
        left: 1%;
        top: 1%;
    }


    #mobile-only-banner {
        display: none;
    }

    #job-summary {
        margin: 0px;
    }

    .job-title {
        font-size: 28px;
    }

    .horizontal-divider {
        height: 6px;
        width: 350px;
    }

    #welcome {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        max-width: 635px;
        margin-top: 185px;
    }

    #welcome-picture {
        flex-basis: 250px;
        flex-shrink: 0;
        height: 250px;
        padding: 0;

    }

    #greeting {
        flex-basis: 60%;
        flex-shrink: 1;
        text-align: right;
        margin: 0 15px 0 0;

    }

    #pages {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1430px;
    }

    .directory-wrapper {
        flex-basis: 28%;
        align-items: center;
    }
}

