#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin-bottom: 50px;
}

section h2 {

    text-align: center;
}

.picture.gallery-image {
    flex-basis: 48%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 48%;
    margin-bottom: 4%;
    background-color: #899593;
}

.video-container {
    width: 300px;
    padding-bottom: 40px;
    margin: auto;
}

iframe {
    height: 169px;
}

@media all and (min-width: 600px) {

    section {
        margin-bottom: 70px;
    }

    section:last-child {
        margin-bottom: 0px;
    }

    section h2 {
        text-align: left;
    }

    .picture.gallery-image {
        flex-basis: 32.5%;
        padding-top: 32.5%;
        margin-bottom: 1.25%;
    }

    .video-container {
        width: 560px;
        margin: 0;
    }

    iframe {
        height: 315px;
        width: 560px;
    }
}

/*photo gallery dump*/

#photo-1 {
    background-image: url("../resources/home-page/james.jpg");
}
