#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    margin-bottom: 70px;
}

.picture.gallery-image {
    flex-basis: 48%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 48%;
    background-color: #899593;
}


iframe {
    width: 100%;
    height: 315px;
}

@media all and (min-width: 600px) {

    .picture.gallery-image {
        flex-basis: 32.5%;
        padding-top: 32.5%;
        margin-bottom: 1.25%;
    }
}

