#menu-icon {
    background-image: url("../resources/shell icons/menu.png");
}

#github-icon {
    background-image: url("../resources/shell icons/github.png");
}

#email-icon {
    background-image: url("../resources/shell icons/mail.png");
}

#linkedin-icon {
    background-image: url("../resources/shell icons/linkedin.png");
}

#instagram-icon {
    background-image: url("../resources/shell icons/instagram.png");
}

body {
    margin: 0;
    padding: 0;
}

.icon.image {

    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
    z-index: 2;
    outline: none;
}

#menu-trigger {
    position: fixed;
    width: 75px;
    height: 75px;
    margin: 0;
    z-index: 3;
    opacity: 0%;
}

.horizontal-overlay {
    height: var(--horizantal-bar-width);
    width: 100%;
    background-color: var(--solid-primary-color);
    z-index: 2;
}

header.horizontal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.horizontal-overlay h2 {
    padding-right: 20px;
    text-transform: lowercase;
    color: var(--separator-color);
}

#menu {
    position: fixed;
    display: none;
    background-color: var(--solid-secondary-color);
    width: 100%;
}

.menu-item {
    display: none;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: center;
    background-color: var(--solid-secondary-color);
    border-bottom: solid 1px var(--separator-color);
    text-decoration: none;
    color: var(--separator-color);

}

.menu-item:hover {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#menu-trigger:checked ~ #site-navigation #menu-icon {
    transform: rotate(90deg);

}

#menu-trigger:checked ~ #menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    animation: stretch 0.5s;
}

#menu-trigger:checked ~ #menu > .menu-item {
    display: block;
    animation: delayed-appearance 1s;
}

.menu-item:hover {

    border: solid 1px var(--separator-color);
}

.menu-item:hover + .menu-item {

    border-top: solid 1px var(--separator-color);
}

#external-links {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
}

#link-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    min-width: 285px;
    max-width: 340px;
}

@media all and (min-width: 600px){

    #overlay {
        position: absolute;
        top: 0;
    }

    #menu {
        width: 0%;
    }

    #menu-trigger:checked ~ #menu {
        justify-content: flex-start;
        animation: widen 0.5s;
        width: 25%;
        height: 100vh;
    }

    #menu-trigger:checked ~ #menu > .menu-item {
        animation: delayed-appearance 1s;
    }

    .menu-item:hover {

        width: 110%;
    }
}

@media all and (min-width: 950px) {

    #menu-icon {
        visibility: hidden;
    }

    #menu-trigger {
        display: none;
    }

    #menu {
        position: fixed;
        top: 0;
        height: 100vh;
        width: var(--sidebar-width);
        display: block;
    }

    .menu-item {
        display: block;
    }

    #menu-trigger:checked ~ #menu {
        justify-content: inherit;
        animation: none;
        width: var(--sidebar-width);
        height: 100%;
    }

    #menu-trigger:checked ~ #menu > .menu-item {
        animation: none;
    }

    #link-wrapper {
        margin-left: 30px;
    }
}

@keyframes widen {

    0% {
        width: 0%;
        background-color: var(--solid-primary-color);
    }

    50% {
        background-color: var(--solid-primary-color);
    }

    100% {
        width: 25%;
        background-color: var(--solid-secondary-color);
    }
}

@keyframes stretch {

    0% {
        max-height: 0;
        background-color: var(--solid-primary-color);
    }

    50% {
        background-color: var(--solid-primary-color);
    }

    100% {
        max-height: 500px;
        background-color: var(--solid-secondary-color);
    }
}

@keyframes delayed-appearance {

    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}