main article {
    margin: 70px 0;
}

section#introduction figure {
    display: none;
}

section#introduction #github-link {
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    color: var(--light-green);
    font-family: Acme, sans-serif;
    font-size: 18px;
}

article {
    margin: 40px auto;
}

article.project figure {
    padding-top: 75%;
}

article.project aside {
    margin-bottom: 30px;
}

article.project .project-text h3 {
    margin: 0;
    color: var(--light-green);
}

article.project .project-link {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    outline: var(--light-green) solid 1px;
}

article.project .vertical-separator {
    height: 50px;
}

article.project .project-link span {
    font-size: 20px;
}

article.project .project-link span::after {
    content: "Click here to check out this project"
}


@media all and (min-width: 600px){

    section#introduction {
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        max-width: 650px;
        margin: 0 auto 70px auto;
    }


    section#introduction .project-text {
        flex-basis: 65%;
        padding-left: 30px;
    }

    section#introduction figure {
        flex-basis: 35%;
        display: inline-block;
        padding: 0;

    }

    section#introduction p:first-child {
        margin-top: 0;
    }

    article.project {
        margin: 60px auto;
    }

    article.project .flex-container {

        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
    }


    article.project aside {
        flex-grow: 3;
        flex-shrink: 3;
        margin-bottom: 0;
    }


    article.project .project-text {
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 20px;
    }

    article.project:nth-child(odd) .flex-container {

        flex-direction: row-reverse;
    }
}