
#introduction-photo {
    display: none;
}

.project-image {
    display: none;
    padding-top: 50%;
}

.project-image:first-child {
    display: block;
}

.text-based-link {
    font-size: 18px;
}

@media all and (min-width: 600px){

    #introduction {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
        align-items: stretch;
    }

    #introduction-summary {
        flex-basis: 65%;
        padding-left: 15px;
    }

    #introduction-photo {
        flex-basis: 35%;
        display: inline-block;
        padding: 0;

    }

    .project-wrapper {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 4%;
        row-gap: 20px;
        font-size-adjust: none;
    }

    .project-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
    }

    .project-image-container {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        flex-direction: column;

    }

    .project-image {
        display: block;
        margin-bottom: 10%;
    }

    .project-summary {
        grid-column: 2;
        grid-row: 2;
    }

    .project-wrapper:nth-child(odd) .project-image-container {
        grid-column: 2;
    }

    .project-wrapper:nth-child(odd) .project-summary {
        grid-column: 1;
    }
}