#menu-icon {
    background-image: url("../resources/shell icons/menu.png");
}

#github-icon {
    background-image: url("../resources/shell icons/github.png");
}

#email-icon {
    background-image: url("../resources/shell icons/mail.png");
}

#linkedin-icon {
    background-image: url("../resources/shell icons/linkedin.png");
}

#instagram-icon {
    background-image: url("../resources/shell icons/instagram.png");
}

body {
    margin: 0;
    padding: 0;
}

.icon.picture {

    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
    z-index: 2;
}



#menu-trigger {
    position: fixed;
    width: 75px;
    height: 75px;
    margin: 0;
    z-index: 3;
    opacity: 0%;
}

.horizontal-overlay {
    height: 80px;
    width: 100%;
    background-color: #2c3632;
    z-index: 1;
}

#menu-icon {
    transition: transform 1s,
}

header.horizontal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.horizontal-overlay h2 {
    padding-right: 20px;
}

#menu {
    position: fixed;
    display: none;
    background-color: #899593;
    width: 100%;
}

.menu-item {
    display: none;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: center;
    background-color: #899593;
    border-bottom: solid 1px #2c3632;
    text-decoration: none;
    color: #000000;
}

.menu-item:hover {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d3d4d6;
}

#menu-trigger:checked ~ #site-navigation #menu-icon {
    transform: rotate(90deg);

}

#menu-trigger:checked ~ #menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    animation: stretch 0.5s;
}

#menu-trigger:checked ~ #menu > .menu-item {
    display: block;
    animation: delayed-appearance 1s;
}

.menu-item:hover {

    border: solid 1px #2c3632;
    transition: width 1s ease;


}

.menu-item:hover + .menu-item {

    border-top: solid 1px #2c3632;
}

#external-links {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
}

#link-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    min-width: 285px;
    max-width: 340px;
}

#background-layer {
    width: 100%;
    padding: 80px 0;
    min-height: calc(100vh - 160px);
    z-index: -2;
    background-color: darkgray;
}

@media all and (min-width: 600px){

    #menu {
        width: 0%;
    }



    #menu-trigger:checked ~ #menu {
        justify-content: flex-start;
        animation: widen 0.5s;
        width: 25%;
        height: 100%;
    }

    #menu-trigger:checked ~ #menu > .menu-item {
        animation: delayed-appearance 1s;
    }

    .menu-item:hover {


        width: 110%;
    }
}

@media all and (min-width: 950px) {


    #menu-icon {
        visibility: hidden;
    }

    #menu-trigger {
        display: none;
    }

    #menu {
        height: 100%;
        width: 210px;
        display: block;
    }

    .menu-item {
        display: block;
    }

    #background-layer {
        margin-left: 210px;
        width: calc(100% - 210px)
    }

    #menu-trigger:checked ~ #menu {
        justify-content: inherit;
        animation: none;
        width: 210px;
        height: 100%;
    }

    #menu-trigger:checked ~ #menu > .menu-item {
        animation: none;
    }

    #link-wrapper {
        margin-left: 30px;
    }
}

@keyframes widen {
    0% {
        width: 0%;
        background-color: #2c3632;
    }

    50% {
        background-color: #2c3632;
    }

    100% {
        width: 25%;
        background-color: #899593;
    }
}

@keyframes stretch {
    0% {
        max-height: 0;
        background-color: #2c3632;
    }

    50% {
        background-color: #2c3632;
    }

    100% {
        max-height: 500px;
        background-color: #899593;
    }
}

@keyframes delayed-appearance {

    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}