@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {

    font-family: 'Mukta', sans-serif;
    color: var(--text-color);

    /*global variables*/
    --solid-secondary-color: #177e89;
    --solid-primary-color: #084c61;
    --solid-alternate-color: #db3a34;
    --text-color: #323031;
    --background-color: rgba(150, 229, 236, 0.95);
    --separator-color: #000000;
    --sidebar-width: 240px;
    --horizantal-bar-width: 75px;
}

h1, h2 {
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
}



h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a.text-based-link {
    font-size: 24px;
    text-decoration: underline;
}

a.text-based-link:hover {
    color: var(--solid-primary-color);
}

a.text-based-link:active {
    color: var(--solid-alternate-color);
}

.block-based-link:hover {
    opacity: 50%;
}

.block-based-link:active {
    opacity: 30%;
}

.picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
    outline: 1px solid var(--separator-color);
    background-image: url("../resources/other icons/placeholder.png");
}



.vertical-separator {
    height: auto;
    width: 10px;
    background-color: var(--separator-color);
    padding: 0;
    margin-right: 20px;
}

.page-contents {
    padding: var(--horizantal-bar-width) 20px;
    background-color: var(--background-color);
    max-width: 950px;
    outline: var(--separator-color) 2px solid;
}

#background-layer {
    width: 100%;
    position: fixed;
    top: var(--horizantal-bar-width);
    min-height: calc(100vh - calc(2 * var(--horizantal-bar-width)));
    z-index: -2;
    background-image: url("../resources/site-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


@media all and (min-width: 950px){

    .page-contents {

        margin-top: calc(var(--horizantal-bar-width) + 150px);
        margin-right: auto;
        margin-bottom: auto;
        margin-left: calc(var(--sidebar-width) + 120px);
        padding: 0 20px var(--horizantal-bar-width) 20px;
    }

    #background-layer {
        margin-left: var(--sidebar-width);
        width: calc(100% - var(--sidebar-width));
        background-position: center;
    }

    h1 {
        font-size: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
