@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.picture {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
}

p, li, span {
    font-family: 'Mukta', sans-serif;
}

h1, h2, h3, a {
    font-family: 'Patua One', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style-type: square;
}

.page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(256,256, 256, 0.5);
    max-width: 850px;

}

@media all and (min-width: 950px){


    .page-wrapper {
        margin: 200px auto auto 120px;
    }

}
