<a href="../blog.html" class="block-based-link back-button">
    <div id="back-icon" class ="image icon"></div>
    <span>BACK TO BLOGS</span>
</a>
<h1>Why Doesn't it Look Like That?</h1>
<section id="introduction">
    <div class="details">
        <span id="date">29th May 2020</span>
        <span id="author-name">James Menzies</span>
    </div>
    <figure id="james-menzies" class="image"></figure>
    <div class="snippet">
        <div class="vertical-separator"></div>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores.
        </p>
    </div>
</section>

{{ page.content }}