<h1>{{ page.title }}</h1>
<section id="introduction">
    <div class="project-text">
        <p>
            If you're a musician that is in need of a technical solution that requires an
            in-depth knowledge of the field I would love to hear from you! Check out the
            "ABOUT ME" section to get in touch.
        </p>
        <p>
            In any case I hope you enjoy browsing my collection.
        </p>

        <div id="github-link">
            <div class="vertical-separator"></div>
            <span>
                If you want to go straight to my GitHub repository,
                <a class="text-based-link" target="_blank" href="https://github.com/redbrickhut">
                    click here.
                </a>
            </span>
        </div>
    </div>

    <figure class="image" id="introduction-photo"
            aria-label="A snippet of some code."></figure>
</section>

{{ content }}