.page-contents {
    max-width: 350px;
    margin: auto;
}

main #mobile-only-banner {
    margin-top: 20px;
    padding-top: 33%;
    background-image: url("../resources/home-page/logo.png");
}

section#job-title {
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
    margin: 20px auto;
    padding-top: 30px;
    color: var(--light-green);
}

section#job-title .horizontal-divider {
    background-color: var(--dark-green);
    background-image: none;
    height: 4px;
    width: 150px;
    margin: auto;
    padding: 0;
    }

section#welcome figure {
    background-image: url("../resources/home-page/welcome.jpg");
    filter: none;

}

section#directory figure {

    width: 100%;
    padding-top: 70%;
}


section#directory {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

section#directory h3 {
    color: var(--light-green);
    text-align: center;
}

section#directory .block-based-link {
    outline: 1px var(--dark-green) solid;
    margin-bottom: 10px;
    padding: 10px;
}

#coder-picture {

    background-image: url("../resources/home-page/coder.jpg");
    filter: none;
}

#musician-picture {

    background-image: url("../resources/about/about.jpg");
    background-position: top;
}

#person-picture {
    background-image: url("../resources/home-page/person.jpg");
    background-position: top;
}

@media all and (min-width: 600px){

    #page-wrapper {
        margin: var(--horizantal-bar-width) 0 0 0;
        height: calc(100vh - 2*var(--horizantal-bar-width));
    }

    .page-contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: inherit;
        margin: inherit;
        padding-top: 0;
    }


    #mobile-only-banner {
        display: none;
    }

    section#job-title {

        min-height: 90px;
        flex-grow: 1;
        max-height: 100px;

    }

    section#job-title span {
        font-size: 22px;
        font-family: 'Acme', sans-serif;
    }

    section#job-title .horizontal-divider {
        height: 4px;
        width: 350px;
    }

    #page-separator {
        flex-grow: 5;
        max-height: 150px;
    }

    section#welcome {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 635px;
    }

    section#welcome figure {
        flex-basis: 250px;
        flex-shrink: 0;
        height: 250px;
        padding: 0;

    }

    section#welcome figcaption {
        text-align: right;
        margin: 0 15px 0 0;

    }

    section#directory {
        flex-shrink: 1;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 900px;
    }

    section#directory .block-based-link {
        flex-basis: 28%;
        align-items: center;
    }

}

@media all and (min-width: 950px) {

    #page-wrapper {

        margin-top: var(--horizantal-bar-width);
        margin-right: 0;
        margin-bottom: 0;
        margin-left: var(--sidebar-width);
    }

    .page-contents {
        margin: auto;
        max-width: 1100px;
    }
}

@media all and (min-width: 600px) and (max-height: 920px) {

    section#job-title {
        padding: 0;
    }

    section#welcome figure {
        height: 100px;
        flex-basis: 100px;
    }

    section#directory h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

}
