<!DOCTYPE html>
<html lang="en">
<head>
    <title>James Menzies: Developer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style-sheets/styles.css"/>
    {% if page.nav %}
    <link rel="stylesheet" href="/assets/style-sheets/nav.css"/>
    {% endif %}
    {% for style in page.styles %}
    <link rel="stylesheet" href="/assets/style-sheets/{{ style }}">
    {% endfor %}
</head>
<body>
{% if page.nav %}
    {% include nav.html %}  
{% endif %}

<div id="background-layer"></div>

{% if page.page_wrapper %}
<div id="page-wrapper">
{% endif %}
    <main class="page-contents">

        {% if page.surrounds %}
            {% include {{ page.surrounds }} %}
        {% else %}
            {{ content }}
        {% endif %}
        
    </main>
{% if page.page_wrapper %}
</div>
{% endif %}
</body>
</html>